* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .flex {
    display: flex;
  }
  .flex.column {
    flex-direction: column;
  }
  .flex.just-center {
    justify-content: center;
  }
  .flex.just-between {
    justify-content: space-between;
  }
  .flex.align-start {
    align-items: flex-start;
  }
  .flex.align-center {
    align-items: center;
  }

  .body{
    background-image: linear-gradient(to bottom right , #14213d , #fca311);
    height: 100vh;
    width: 100vw;
    display: flex;
}

  .container {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 400px;
    width: 300px;
    background-color: #e5e5e5;
    border-radius: 25px;
  }

  .login-container{
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  input{
    border: none;
    text-align: center;
    width: 200px;
    border-radius: 10px;
}

.login-field{
  margin-top: 15px;
}

.main{
  margin-top: 10px;
}

.verify-code{
  margin-top: 50px;
}

button {
  height: 20px;
  width: 80px;
  margin-top: 10px;
  border-radius: 5px;
  border: solid 1px;
}

button:hover {
  transform: rotateY(20deg);
  transition: 1s;
  background-color: #14213d;
}